* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
  border: none;
}
body {
  width: 100vw;
  height: 100vh;
  background: #fff url(../img/pattern.svg) repeat;
}
.container {
  width: 498px;
  height: 427px;
  position: absolute;
  top: calc(50% - 213px);
  left: calc(50% - 249px);
  background: linear-gradient(
    45deg,
    rgba(98, 161, 228, 0.3),
    rgba(98, 161, 228, 0.7)
  );
  background: -moz-linear-gradient(
    45deg,
    rgba(98, 161, 228, 0.4),
    rgba(98, 161, 228, 0.8)
  );
  box-shadow: inset 1px -1px 10px #e6e6e6f2;
  border-top: 2px solid #f2f2f2f2;
  border-bottom: 2px solid #f2f2f2f2;
  backdrop-filter: blur(3px);
  border-radius: 16px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  padding: 40px;
  h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  input[type="text"] {
    width: 356px;
    border-bottom: 1px solid #000;
    background: none;
    padding: 10px 15px 10px 40px;
    outline: none;
    &:nth-of-type(1) {
      background: url(../img/map.svg);
      background-repeat: no-repeat;
      background-size: 40px;
    }
    &:nth-of-type(2) {
      background: url(../img/url.svg);
      background-repeat: no-repeat;
      background-size: 40px;
    }
  }
  button {
    width: 196px;
    height: 60px;
    margin-top: 20px;
    border-radius: 80px;
    border: 1px solid #000;
    background: transparent;
    font-size: 25px;
    transition:  .3s;
    &:hover {
      background: rgba(9, 117, 233, 0.4);
      border: 1px solid rgba(9, 117, 233, 0.4);
      cursor: pointer;
      color: rgb(243, 243, 243);
    }
  }
}
