
body {
  width: 100vw;
  height: 100vh;
  background: #fff url(../img/pattern.svg) repeat;
}

h1{
	text-align: center;
}
.toolbar{
	display: flex;align-items: center;
justify-content: space-between;
}
tr{
	background: none;
}