* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-top: 1px;
  padding-bottom: 5rem;
  text-align: center;
  overflow-y: none;
}

.header {
  position: relative;
  padding-top: 13rem;
  background: url("../img/pattern.svg");
  overflow: hidden;
}

.logo {
  position: relative;
  width: 11.5rem;
  height: 5.5rem;
  margin: 0 auto 3rem;
  background: url("../img/logo.svg") 50%/cover;
  opacity: 0;
  -webkit-transform: rotate(-2turn) scale(0);
          transform: rotate(-2turn) scale(0);
  -webkit-animation: fade-content 1s 1.2s cubic-bezier(0.2, 1, 0.2, 1) forwards;
          animation: fade-content 1s 1.2s cubic-bezier(0.2, 1, 0.2, 1) forwards;
}

.slogan {
  max-width: 630px;
  margin: 0 auto 3.5rem;
  color: #008cdd;
  font: 100 26px / 1.5 sans-serif;
  text-shadow: 0 1px 1px rgba(0, 140, 221, 0.8);
  text-transform: capitalize;
  opacity: 0;
  -webkit-transform: perspective(800px) rotateX(-60deg) translateY(50px);
          transform: perspective(800px) rotateX(-60deg) translateY(50px);
  -webkit-animation: fade-content 0.85s 2.1s cubic-bezier(0.2, 1, 0.2, 1) forwards;
          animation: fade-content 0.85s 2.1s cubic-bezier(0.2, 1, 0.2, 1) forwards;
}

.slogan .ps {
  color: black;
  text-transform: lowercase;
  text-shadow: 0 1px 2px rgba(0, 30, 50, 0.15);
}

.btns {
  margin-bottom: 5rem;
}

.btn {
  position: relative;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  font-size: 14px;
  text-transform: capitalize;
  color: #008cdd;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(#fff, rgba(255, 255, 255, 0.9));
  text-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 1px #fff, inset 0 -1px 4px rgba(23, 78, 138, 0.1), 0 4px 20px -2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 1px #fff, inset 0 -1px 4px rgba(23, 78, 138, 0.1), 0 4px 20px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  -webkit-transform: perspective(800px) rotateX(-50deg) translateY(30px);
          transform: perspective(800px) rotateX(-50deg) translateY(30px);
  -webkit-animation: fade-content 0.7s 2.2s forwards;
          animation: fade-content 0.7s 2.2s forwards;
}

.btn a {
  text-decoration: none;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-box-shadow: 0 4px 20px -2px;
          box-shadow: 0 4px 20px -2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.btn:hover::before {
  opacity: 1;
}

.btn--primary {
  color: #fff;
  font-weight: 900;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 16px -1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 16px -1px rgba(0, 0, 0, 0.4);
  background: #123159 -webkit-gradient(linear, left top, left bottom, from(#123159), to(#0f294d));
  background: #123159 linear-gradient(#123159, #0f294d);
}

.btn--primary::before {
  color: rgba(0, 0, 0, 0.3);
}

.btn ~ .btn {
  margin-left: 1.5em;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.circle {
  position: absolute;
  top: calc(50% - 10vw);
  left: calc(50% - 50vw);
  width: 200vw;
  height: 200vw;
  border-radius: 50%;
  background-color: rgba(106, 103, 255, 0.2);
  background-image: linear-gradient(
    45deg,
    rgba(106, 103, 255, 0.75) 55%,
    rgba(4, 213, 250, 0.75) 77%
  );
  -webkit-transform: translate(100%, 500px);
  transform: translate(100%, 500px);
  -webkit-animation: fade-content 1.2s 0.7s cubic-bezier(0.2, 1, 0.2, 1)
    forwards;
  animation: fade-content 1.2s 0.7s cubic-bezier(0.2, 1, 0.2, 1) forwards;
  mix-blend-mode: darken;
}

.circle.c2 {
  top: calc(50% - 1vw);
  left: calc(50% - 90vw);
  width: 250vw;
  height: 250vw;
  background-image: linear-gradient(
    45deg,
    rgba(106, 103, 255, 0.75) 55%,
    rgba(4, 213, 250, 0.75) 77%
  );
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.hill {
  position: relative;
  height: 11.5rem;
  overflow: hidden;
}

.hill::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 1rem;
  left: 50%;
  width: 1000vw;
  height: 1000vw;
  -webkit-transform: translate(calc(-50% + 35vw), 0);
          transform: translate(calc(-50% + 35vw), 0);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0.5rem, 0 0 2rem, 0 0 3rem;
          box-shadow: 0 0 0.5rem, 0 0 2rem, 0 0 3rem;
}

@-webkit-keyframes fade-content {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fade-content {
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}